<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Авторизация</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="form-signin">
            <label class="sr-only">Логин</label>
            <input [(ngModel)]="login" [ngModelOptions]="{standalone: true}"  type="text" class="form-control" placeholder="Логин">
            <label class="sr-only">Пароль</label>
            <input [(ngModel)]="password" [ngModelOptions]="{standalone: true}" type="password" class="form-control" placeholder="Пароль">
            <div class="checkbox">
                <label>
                    <input [(ngModel)]="safeAuth" [ngModelOptions]="{standalone: true}"  type="checkbox" value="remember-me"> Запомнить
                </label>
            </div>
            <button (click)="clickOnAuthorization()" class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
        </form>
    </div>
</ng-template>
<app-notification></app-notification>
